<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="60" shutdownHook="disable">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <!-- 定义类型为Console的Appender -->
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}, %p scenex %c{-3} [%t] %m%n"/>
      <!-- 定义类型为Pattern的Layout -->
    </Console>
    <RollingRandomAccessFile name="MinuteFileAppender" fileName="logs/scenex.log" filePattern="logs/scenex-%d{yyyy-MM-dd}.log">
      <PatternLayout>
        <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}, %p scenex %c{-3} [%t] %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true" />
      </Policies>
    </RollingRandomAccessFile>
  </Appenders>
  <Loggers>
    <AsyncRoot level="info" includeLocation="false">
      <!-- 定义Root Logger，其日志级别为error -->
      <AppenderRef ref="Console"/> <!-- Root Logger的Appender引用上面定义的Console -->
      <AppenderRef ref="MinuteFileAppender" level="INFO"/>
    </AsyncRoot>
  </Loggers>
</Configuration>
